
dataModelsForImageStorage.py~
dataModelsForImageStorage.pyc

project.py~
project.pyc

ImageProcessor/ClassifyImages.py~
ImageProcessor/ClassifyImages.pyc

ImageProcessor/ImageFilter.py~
ImageProcessor/ImageFilter.pyc